@font-face {
    font-family: Avenir-Light;
    src: url('../css/fonts/Avenir-Light.ttf');
}

/* mobile first */
@media (min-width:320px) {
    body {
        margin: 0;
        font-family: Avenir-Light;
    }
    
    nav {
        position: fixed;
        height: 3.2em;
        width: 100vw;
        z-index: 1;
        text-align: center;
    }
    
    .nav-links {
        display: flex;
        flex-direction: row; 
        list-style: none;
        justify-content: center;
        padding: 0;
    }
    
    nav ul li a {
        margin: 1em 1em;
        text-decoration: none;
        color: white;
    }

    .banner {
        background-color: rgba(34, 34, 34, 0.9);
        background-blend-mode: multiply;

        width: 100vw;
        height: 35vh;
        min-height: 15em;
        
        text-align: center;
        z-index: -99;
    }

    .banner-content {
        padding-top: 11vh;
    }
    
    .banner-name {
        font-weight: 100;
        font-size: 2.5em;
        margin-left: 0em;
        margin-right: 0em;
        color: white;
    }
    
    .banner-subtitle {
        font-weight: 100;
        font-size: 1em;
        margin-top: -1em;
        color: white;
    }

    .intro {
        margin-top: -1.3em;
        margin-bottom: -1.3em;
        text-align: center;
    }

    .intro-text {
        width: 80%;
        color: #FFF;
        font-weight: 100;
        padding-left: 10%;
        padding-right: 10%;
    }

    .project {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        padding-left: 15%;
        padding-right: 15%;
    }

    .project-container {
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .project-header {
        text-align: center;
    }
    
    .project-title {
        font-size: 2em;
    }

    .project-content p {
        margin-top: 1em;
        text-align: center;
        font-size: 1.3em;
    }

    .spacer {
        height: 3em;
    }

    footer {
        background-color: rgb(102, 102, 102);
        height: 2.5em;
        width: 100%;
        text-align: center;
    }
    
    footer p {
        color: white;
        margin: 0 0;
        padding-top: 1em;
        font-size: 0.8em;
    }
    
    footer p a {
        color: white;
        text-decoration: none;
    }
}

/* landscape phones */
@media (max-height:420px) {
    .banner {
        height: 90vh;
    }

    .banner-content {
        padding-top: 10%;
    }

    .banner-name {
        font-weight: 200;
        font-size: 4em;
    }

    .banner-subtitle {
        font-weight: 200;
        font-size: 2em;
    }
}

/* landscape ipads */
@media (min-width: 1024px) {
    nav ul {
        float: right;
        margin-right: 1em;
    }

    .banner {
        height: 55vh;
    }
    
    .banner-name {
        font-weight: 200;
        font-size: 4.8em;
    }

    .banner-subtitle {
        font-weight: 200;
        font-size: 3em;
    }

    .intro-text {
        width: 50vw;
        padding-left: 25%;
        padding-right: 25%;
    }

    .project {
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 3em;
    }
}

@media (min-width:1920px) {
    .banner {
        height: 50vh;
    }

    .intro-text {
        width: 50%;
        color: #FFF;
        margin-top: -1em;
        font-size: 1.5em;
        font-weight: 200;
        padding-left: 25%;
        padding-right: 25%;
    }

    .project {
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (min-height: 1920px) {
    .project {
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .banner {
        height: 30vh;
    }

    .banner-content {
        padding-top: 8vh;
    }
}
