@font-face {
    font-family: Avenir-Light;
    src: url('fonts/Avenir-Light.ttf');
}

body {
    background-color: #fff;
    font-family: Avenir-Light;
}

.info {
    position: fixed;
    margin-left: 0;
    margin-right: 0;
    margin-top: 35vh;
    width: 100vw;
    height: 100vh;
}

.name {
    font-size: 3em;
    font-family: Avenir-Light;
    text-align: center;
    margin-bottom: 0.5em;
}

.category {
    font-size: 1.5em;
    font-family: Avenir-Light;
    text-align: center;
    margin-top: 1.5em;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#software_engineer { 
	background-image: url('../assets/img/software_engineer_icon.png');
}

#musician { 
	background-image: url('../assets/img/musician_icon.png');
}

#connect { 
	background-image: url('../assets/img/connect_icon.png');
}

.icon img {
    transition: all ease 0.7s;
    height: 95px; 
	width: 95px;
}
.icon img:hover {
	opacity: 0;
}








.icons #musician {
    margin-top: 2em;
}

.icons .icon {
    margin-left: 1em;
    margin-right: 1em;
}
