@font-face {
    font-family: Avenir-Light;
    src: url('fonts/Avenir-Light.ttf');
}

body {
    background-color: #fff;
    font-family: Avenir-Light;
}

.info {
    position: fixed;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30%;
    width: 100vw;
    height: 100vh;
}

.name {
    font-size: 3em;
    font-family: Avenir-Light;
    text-align: center;
    margin-bottom: 0.5em;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 40%; */
}

.icons #music {
    margin-top: 2em;
}

.icons .icon {
    margin-left: 1em;
    margin-right: 1em;
}
